@model MvcCv.Models.Entity.Tbl_Egitimlerim
@{
    ViewBag.Title = "EgitimGuncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4>Egitim Güncelleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Eğitim Id")
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control" })
    <br />
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık1")
    @Html.TextBoxFor(x => x.AltBaslik1, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık2")
    @Html.TextBoxFor(x => x.AltBaslik2, new { @class = "form-control" })
    <br />
    @Html.Label("GNO")
    @Html.TextBoxFor(x => x.GNO, new { @class = "form-control" })
    <br />

  
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Güncelle</button>
    <br />
</form>


